<h1>
  <form action = "/names" method = "post">
    <label for = "first_name">Player1</label>
    <input type = "text" name = "first_name">
    <br>
    <label for = "second_name">Player2</label>
    <input type = "text" name = "second_name">
    <br>
    <input type = "submit" value = "Save">
  </form>

</h1>